<html>

<head>

    <!-- <script type="text/javascript" src="static/js/sdk/star_rtc_video.min.js"></script> -->
    <!-- <script type="text/javascript" src="static/js/sdk/star_rtc_lib.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="static/js/jquery-3.2.1.min.js"></script>
</head>

<body>
    <div id="app">
        <P> {{ message }} </P>
        <button v-on:click="getDevcices">get devices</button>    
        <button v-on:click="setVideo">set video</button>
        <button v-on:click="connect">connect</button>
        <div v-for="(device, index) in devices">{{device.kind + ": " + device.label +" id = " + device.deviceId}}</div>
        <video v-show="videoDisplay" id="video">Video stream not available.</video>
        <div>
            <span>用户名：</span>
            <input type="text" v-model="userName">
            <button v-on:click="signin">sign in</button>
            <span v-show="logincondition">{{userName + ":注册成功" }}</span>
        </div>
        <div>
            <button v-on:click="getUserList">userList</button>
            <div v-for="item in userList">{{item}}</div>
        </div>
        <div>
            <span>发起呼叫：</span>
            <input type="text" v-model="callee">
            <button v-on:click="call">call </button>
        </div>
        <div title="video">
            <video id="localVideo"></video>
            <video id="remoteVideo"></video>
        </div>
        
    </div>

    <script>
        

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                videoDisplay: false,
                devices: [],
                wss :undefined,
                userName:undefined,
                logincondition:false,
                callee:undefined,
                userList:[],
                pc:undefined,
                constraints:undefined,
            },
            methods: {
   
                //next function
                call: function () {
                    console.log("call click");

                    // app.pc.onaddstream = function (evt) {
                    //     console.log("onaddstream");
                    //     console.log(evt);
                    //     var video = document.getElementById("remoteVideo");
                    //     video.srcObject = evt.stream;
                    //     video.play();
                    //     console.log(evt.stream);
                    // };
                    navigator.mediaDevices.getUserMedia(constraints)
                        .then(function (stream) {
                            var video = document.getElementById("localVideo");
                            console.log(stream);
                            video.srcObject = stream;
                            video.play();
                            stream.getTracks().forEach(function (track) {
                                app.pc.addTrack(track, stream);
                            });

                        }).catch(app.reportError);
                },
                //next function
                connect:function(){
                    if( !"WebSocket" in window){
                        console.log("浏览器不支持 websocket");
                        return;
                    }
                    app.wss=new WebSocket("wss://192.168.1.8:8000")
                    app.wss.onopen =function(e){
                        console.log("onopen");
                    };
                    app.wss.onmessage =function(e){
                        console.log("onmessage :"+JSON.stringify(e.data));
                        var msg= JSON.parse (e.data);
                        if(msg.type=="signin"){
                            console.log("signin success");
                            app.logincondition=true;
                            app.pc=new RTCPeerConnection();
                            app.constraints=window.constraints= {
                                audio: false,
                                video: true
                            };
                            app.pc.onicecandidate=app.handleICECandidateEvent;
                            app.pc.onnegotiationneeded = app.handleNegotiationNeededEvent;
                            app.pc.ontrack =app.handleTrackEvent;
                        }
                        // next function
                        if (msg.type == "getUsers") {
                            console.log("getUsers success");
                            app.userList = msg.data;
                        }
                        // next function
                        if (msg.type == "video-offer") {
                            app.handleVideoOfferMsg(msg);
                        }
                        // next function
                        if (msg.type == "video-answer") {
                            app.handleVideoAnswerMsg(msg);
                        }
                        //next function
                        if (msg.type == "new-ice-candidate") {
                            app.handleNewICECandidateMsg(msg);
                        }
                        //next function
                    };
                    app.wss.onclose = function (e) {
                        console.log("onclose ");
                    }

                },
                //next function
                getDevcices: function () {
                    console.log("getDevcices clicked");
                    if (!navigator.mediaDevices || !navigator.mediaDevices.enumerateDevices) {
                        console.log("不支持 enumerateDevices() .");
                        return;
                    }
                    navigator.mediaDevices.enumerateDevices()
                        .then(function (devices) {
                            console.log(this);
                            app.devices = devices;
                            devices.forEach(function (device) {
                                console.log(device.kind + ": " + device.label + " id = " + device.deviceId);
                            })
                        })
                        .catch(function (err) {
                            console.log(err.name + ": " + err.message);
                        })
                },
                // next functinon
                handleICECandidateEvent: function (event) {
                    console.log("handleICECandidateEvent:" + JSON.stringify(event));
                    if (event.candidate) {
                        var message = {
                            msgFrom: app.userName,
                            msgType: "new-ice-candidate",
                            msgTo: app.callee,
                            msgData: event.candidate
                        }
                        app.wss.send(JSON.stringify(message));
                    }
                },
                //next function
                handleNegotiationNeededEvent: function (msg) {
                    console.log("handleNegotiation:" + JSON.stringify(msg));
                    app.pc.createOffer().then(function (offer) {
                        console.log("create offer:" + JSON.stringify(offer));
                        return app.pc.setLocalDescription(offer);
                    }).then(function () {// 对应 setLocalDescription 回调
                        var offerInfo = {
                            callerID: app.userName,
                            calleeID: app.callee,
                            type: "video-offer",
                            SDP: app.pc.localDescription // offer
                        };
                        console.log(offerInfo);
                        var message = {
                            msgType: "video-offer",
                            msgFrom: app.userName,
                            msgTo: app.callee,
                            msgData: offerInfo
                        };
                        app.wss.send(JSON.stringify(message));
                    }).catch(app.reportError);
                },
                //next function
                handleNewICECandidateMsg: function (msg) {
                    console.log("handleNewICECandidateMsg:" + JSON.stringify(msg));
                    var candidate = new RTCIceCandidate(msg.data);
                    app.pc.addIceCandidate(candidate).catch(app.reportError);
                },
                // next function
                handleTrackEvent: function (event) {
                    console.log("handleTrackEvent: "+ JSON.stringify(event));
                    console.log(event)
                    var video = document.getElementById("remoteVideo");
                    video.srcObject = event.streams[0];
                    video.play();
                },
                //next function
                handleVideoOfferMsg: function (msg) {
                    var offerInfo = msg.data;
                    console.log("video-offer :" + JSON.stringify(offerInfo));
                    var desc = new RTCSessionDescription( offerInfo.SDP);
                    app.pc.setRemoteDescription(desc).then(function () {
                        return navigator.mediaDevices.getUserMedia(constraints)
                    }).then(function (stream) {
                        var localStream =stream;
                        var localVideo = document.getElementById("localVideo");
                        localVideo.srcObject=localStream;
                        localVideo.play();
                        stream.getTracks().forEach(track => app.pc.addTrack(track, localStream));
                    }).then(function () {
                        return app.pc.createAnswer()
                    }).then(function (answer) {
                        return app.pc.setLocalDescription(answer)
                    }).then(function () {
                        //Send the answer to the remote peer through the signaling server.
                        var answerInfo = ({
                            callerID: offerInfo.callerID,
                            calleeID: offerInfo.calleeID,
                            type: "video-answer",
                            SDP: app.pc.localDescription // offer
                        });
                        console.log("sendMessage:" + JSON.stringify(answerInfo));
                        var message = {
                            msgType: "video-answer",
                            msgFrom: app.userName,
                            msgTo: offerInfo.callerID,
                            msgData: answerInfo
                        }
                        app.wss.send(JSON.stringify(message));
                    }).catch(app.reportErr)
                },
                //next functhon
                handleVideoAnswerMsg: function (msg) {
                    var data = msg.data;
                    console.log("video-answer:" + JSON.stringify(data));
                    var answer =  new RTCSessionDescription(data.SDP);
                   
                    app.pc.setRemoteDescription(answer)
                        .then(function () {
                            console.log("video-answer set sdp");
                        })
                        .catch(function (err) {
                            console.log(err);
                        });

                },
                //next function
                getUserList: function () {
                    if (app.wss == undefined) {
                        console.log("websocket 未连接");
                        return;
                    }
                    var message = {
                        msgType: "getUserList",
                        msgFrom: app.userName,
                        msgTo: null,
                        msgData: null,
                    };
                    app.wss.send(JSON.stringify(message))
                },
                // next function
                reportError: function (err) {
                    console.log(err);
                },
                //next function
                setVideo: function () {
                    var servers = null;
                    var constraints = window.constraints = {
                        audio: false,
                        video: true
                    };
                    var video = document.getElementById('localVideo');
                    console.log(video);
                    navigator.mediaDevices.getUserMedia(constraints)
                        .then(function (mediaStream) {
                            video.srcObject = mediaStream;
                            video.onloadedmetadata = function (e) {
                                video.play();
                            };
                            app.videoDisplay = true;
                        })
                        .catch(function (err) {
                            console.log(err.name + ": " + err.message);
                        });

                },
                //next function
                signin: function () {
                    if (app.wss == undefined) {
                        console.log("websocket 未连接");
                        return;
                    }
                    if (app.userName == undefined) {
                        console.log("用户名为设置");
                        return;
                    }
                    var message = {
                        msgType: "signin",
                        msgFrom: app.userName,
                        msgTo: null,
                        msgData: null,
                    };
                    app.wss.send(JSON.stringify(message));
                },

            },
        });

    </script>
</body>

</html>